<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key ="last_redshift_url" value="redshift-test.cayq9aizq1mt.eu-west-1.redshift.amazonaws.com"/>
    <add key ="redshift_port" value="5439"/>
    <add key ="redshift_username" value="rs_admin"/>
    <add key ="redshift_db" value="bi"/>
  </appSettings>


</configuration>